.social-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.social-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-item span {
  color: white;
  font-size: 16px;
}

.social-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 35px;
  transition: 0.3s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.youtube {
  background: #ff0000;
}

.tiktok {
  background: #000000;
}

.twitch {
  background: #9146ff;
}
